<section id="dmg-nav">
    <div class="inner">
        <nav>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/browse" routerLinkActive="active">Browse</a></li>
                <li><a routerLink="/who" routerLinkActive="active">Who we are</a></li>
                <li><a routerLink="/what" routerLinkActive="active">What we do</a></li>
                <li><a routerLink="/contact" routerLinkActive="active">Get in touch</a></li>
                <li><a routerLink="/login" routerLinkActive="active"><span class="glyphicon glyphicon-user">Login</span></a></li>
            </ul>
        </nav>
    </div>
</section>