<div id="burger-nav">
    <div class="navbar-header">
        <a (click)="toggle()" class="title">
            <div>
                <span id="burger-glyph" class="glyphicon glyphicon-align-justify"></span>
            </div>
        </a>
    </div>
    <nav [hidden]="isClosed" class="content">
        <ul>
            <li class="menu-item" (click)="toggle()"><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li class="menu-item" (click)="toggle()"><a routerLink="/browse" routerLinkActive="active">Browse</a></li>
            <li class="menu-item" (click)="toggle()"><a routerLink="/who" routerLinkActive="active">Who we are</a></li>
            <li class="menu-item" (click)="toggle()"><a routerLink="/what" routerLinkActive="active">What we do</a></li>
            <li class="menu-item" (click)="toggle()"><a routerLink="/contact" routerLinkActive="active">Get in touch</a></li>
            <li class="menu-item" (click)="toggle()"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        </ul>
    </nav>
</div>